form {
  font-size: 19px;
  display: flex;
  padding-right: 70px;
  margin: 10px;
  margin-top: 0;
}
#amount {
  padding-right: 70px;
  margin: 10px;
  margin-top: 0;
}
#Description {
  padding-right: 70px;
  margin: 10px;
  margin-top: 0;
}
#categeory {
  padding-right: 70px;
  margin: 10px;
  margin-top: 0;
}
#submit {
  margin: 10px;
  margin-top: 0;
  border-radius: 15px;
  background-color: rgb(222, 220, 100);
}
li {
}
.button {
  background-color: rgba(224, 72, 117, 0.597);
  color: black;
  border-radius: 15px;
  padding: 3px;
  padding-left: 7px;
  margin-left: 3px;
  padding-right: 7px;
}
